
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Infi | @ViewData["Title"]</title>
    <!-- Video camera Icon by Martz90 available at http://www.iconarchive.com/show/circle-icons-by-martz90/video-camera-icon.html under a Creative Commons Attribution-Noncommercial-No Derivate 4.0. Full terms at http://creativecommons.org/licenses/by-nc-nd/4.0 -->
    <link rel="icon" type="image/x-icon" href="video-camera-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            font-size: 0.8em;
        }

        a {
            color: #ff6e00;
        }
    </style>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
